$spacing: 5px;
$padding_horizontal: 20px;
$padding_vertical: $padding_horizontal/2;
$bar_height: 31px;

// ci colors
$ci_background: rgba(#161616, 1.0);
$ci_orange: rgba(#fba22b, 1.0);
$ci_gray: rgba(#292b28, 1.0);
$ci_lightgray: rgba(#c2c3ba, 1.0);
$ci_white: rgba(#ececec, 1.0);
$ci_blue: rgba(#3475b2, 1.0);
$ci_turquoise: rgba(#008692, 1.0);
$ci_pink: rgba(#a9749e, 1.0);

// corner thingys
$corner_top_height: 505px;
$corner_top_width: 129px;
$corner_bottom_height: 276px;
$corner_bottom_width: 95px;
$corner_sprite_width: $corner_top_width + 1px;
$corner_orange_index: 0;
$corner_turquoise_index: 1;
$corner_blue_index: 2;
$corner_pink_index: 3;

// statics sprite
$sprite_arrow_normal_position_x: 485px;
$sprite_arrow_active_position_x: 500px;
$sprite_arrow_up: 531px;
$sprite_arrow_down: 519px;
$sprite_arrow_left: 512px;
$sprite_arrow_right: 505px;
$sprite_arrow_width: 10px;
$sprite_arrow_ud_width: $sprite_arrow_width;
$sprite_arrow_ud_height: $sprite_arrow_up - $sprite_arrow_down;
$sprite_arrow_lr_height: $sprite_arrow_left - $sprite_arrow_right;
$sprite_arrow_lr_width: $sprite_arrow_width;
$sprite_arrow_big_right: 576px;
$sprite_arrow_big_left: 585px;
$sprite_arrow_big_width: 12px;
$sprite_arrow_big_height: 9px;
$sprite_logo_x: 485px;
$sprite_logo_orange: 544px;
$sprite_logo_turquoise: 552px;
$sprite_logo_blue: 560px;
$sprite_logo_pink: 568px;
$sprite_logo_width: 6px;
$sprite_logo_height: 8px;
$sprite_social_width: 24px;
$sprite_social_height: 24px;
$sprite_social_x: 354px;
$sprite_social_y: 505px;
$sprite_social_facebook_index: 0;
$sprite_social_github_index: 1;
$sprite_social_gplus_index: 2;
$sprite_social_twitter_index: 3;
$sprite_rss_width: 17px;
$sprite_rss_height: 17px;
$sprite_rss_x: 354px;
$sprite_rss_y: 697px;


// gradients / highlights
$gradient_lightorange: lighten($ci_orange, 5%);
$gradient_darkorange: darken($ci_orange, 20%);
$gradient_lightgray: #232320;
$gradient_darkgray: #1c1c19;
$gradient_lightblue: lighten($ci_blue, 5%);
$gradient_darkblue: darken($ci_blue, 20%);
$gradient_lightturquoise: lighten($ci_turquoise, 5%);
$gradient_darkturquoise: darken($ci_turquoise, 20%);
$gradient_lightpink: lighten($ci_pink, 5%);
$gradient_darkpink: darken($ci_pink, 20%);
$box_3d_highlight: #2d2c29;
$box_3d_shadow: #181817;

// images
$news_image_width: 150px;
$dl_image_width: 50px;

// footer
$footer_padding_vertical: 5px;

// content
$content_width: 720px;

// navigation
$nav_width: 150px;
$nav_num_items: 6;
$nav_logo_space: 7px;

// accordion
$accordion_underline_height: 3px;
$accordion_animation_duration: 0.6s;
$accordion_header_height: 31px;
$accordion_button_size: 22px;
$accordion_l2_transparency: 0.2;
$accordion_l2_text_color: $ci_gray;
$accordion_l2_active_color: $ci_white;

// slider
$slider_slide_duration: 1s;
$slider_fade_duration: 0.5s;
$slider_arrow_border: 3px;

// references
$references_img_width: 90px;
$references_img_height: 60px;

// font sizes
$header_size: 18px;
$header_letter_spacing: 25em/1000;
$header_line_height: 1em;

$accordion_l1_header_font_size: 14px;
$accordion_l1_letter_spacing: 25em/1000;
$accordion_l1_line_height: $accordion_header_height;

$accordion_l2_header_font_size: 18px;
$accordion_l2_letter_spacing: 25em/1000;
$accordion_l2_line_height: $accordion_header_height;

$intro_size: 18px;
$intro_letter_spacing: 25em/1000;
$intro_line_height: 26px;

$opener_size: 16px;
$opener_letter_spacing: 25em/1000;
$opener_line_height: 26px;

$small_size: 13px;
$small_letter_spacing: 25em/1000;
$small_line_height: 17.5px;

$normal_size: 14px;
$normal_letter_spacing: 25em/1000;
$normal_line_height: 26px;

$nav_font_size: 14px;
$nav_font_letter_spacing: 25em/1000;
$nav_font_line_height: 36px;

$footer_font_size: 12px;
$footer_font_letter_spacing: 50em/1000;
$footer_font_line_height: 1em;

// calculations
$container_width: $nav_width + 2*$spacing + $content_width;
